[core]
  editor = nano
  commentChar = ";"
  excludesfile = ~/.gitignore
[user]
  name = Daniel Wedin
  email = danielwedin@hotmail.se
[color]
  ui = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "status"]
  added = green reverse
  changed = red bold
  untracked = green
[alias]
  lg = log --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit
  lgr = log --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  discard = reset --hard HEAD
